<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hello</key>
	<string>World</string>
	<key>Hello2</key>
	<string>World2</string>
	<key>Hello3</key>
	<string>World3</string>
	<key>hex1</key>
	<string>hiz</string>
	<key>hex2</key>
	<string>hizzza</string>
</dict>
</plist>
