<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array1</key>
	<array>
		<string>arr0</string>
		<integer>42</integer>
		<false/>
		<date>1976-04-01T12:00:00Z</date>
		<data>
		qrvM3QARIjM=
		</data>
	</array>
	<key>item1</key>
	<string>value1</string>
	<key>item2</key>
	<string>value2</string>
</dict>
</plist>
