<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a2</key>
	<dict>
		<key>x</key>
		<dict>
			<key>abcdef/</key>
			<string>c</string>
		</dict>
	</dict>
	<key>abcdefg</key>
	<dict>
		<key>y</key>
		<dict>
			<key>abcdef/</key>
			<string>a</string>
			<key>abcdefg</key>
			<string>b</string>
		</dict>
	</dict>
</dict>
</plist>
